$black: #262626;
$primary : #4d607a;
$white: #FFFFFF;
$pale-grey: #E5E5EA;
$warm-grey: #999999;

$font-text: "Core Sans C", system-ui;

$font-size-large: 1.1875rem; 
$font-size-regular: 1rem; 
$font-size-small: 0.75rem; 

$font-weight-extrabold: 800;
$font-weight-bold : 700;
$font-weight-semibold: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$line-height: 1.25;
$letter-spacing: -0.2px;
$letter-spacing-bold: -0.5px;
