@font-face {
    font-family: 'Core Sans C';
    src: url('~@/assets/fonts/Core/coresansc-35light-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/Core/coresansc-35light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
  font-family: 'Core Sans C';
  src: url('~@/assets/fonts/Core/coresansc-45regular-webfont.woff2') format('woff2'),
       url('~@/assets/fonts/Core/coresansc-45regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}


@font-face {
  font-family: 'Core Sans C';
  src: url('~@/assets/fonts/Core/coresansc-65bold-webfont.woff2') format('woff2'),
       url('~@/assets/fonts/Core/coresansc-65bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}


@font-face {
  font-family: 'Core Sans C';
  src: url('~@/assets/fonts/Core/coresansc-75extrabold-webfont.woff2') format('woff2'),
       url('~@/assets/fonts/Core/coresansc-75extrabold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;

}
