@import '~@/styles/variables';
@import '~@/styles/mixins';

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  height: 56px;
  padding: 0 16px;

  &__left {

    img {
      width: 80px;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;

      li {
        color: $white;
        margin-right: 24px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}